# =================
# Node.js
# =================
node_modules/
dist/
build/

# =================
# Python / Flask
# =================
venv/
__pycache__/
*.pyc

# =================
# Environment / Secrets
# =================
.env
*.env

# =================
# Logs
# =================
logs
*.log

# =================
# OS / editor
# =================
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
